body {
    font-family: "TT Hoves";
    margin: 0;
    color: #222;
}

.contentBlock {
    padding: 0 calc(10.6vw - 16px);
    padding-bottom: calc(11vw + 19px);
}

.contentBlock.hello {
    margin-top: 37px;
    background-image: url('../img/html_css_js.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 30vw;
}

.contentBlock.hello img {
    width: 295px;
}

.courseInfo {
    margin-top: 85px;
    margin-bottom: 76px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 161px;
}

.courseInfo .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.courseInfo .value {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

h1 {
    font-family: 'Chava'; 
    font-size: calc(4vw + 26px);
    line-height: 110%;
}

p {
    font-weight: 300;
    font-size: 27px;
    line-height: 140%;
}

.cta {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    /* align-items: center; */
}

.primary {
    display: block;
    background: #6E3ABA;
    border-radius: 12px;

    width: calc(6.7vw + 242px);
    padding: 20px 0;

    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.secondary {
    display: block;
    background: #fff;
    border: 1px solid #6E3ABA;
    border-radius: 12px;

    width: 328px;
    padding: 20px 0;

    color: #6E3ABA;
    text-align: center;
    text-decoration: none;
}

/* Преимущества */

h2 {
    font-weight: 500;
    text-transform: uppercase;

    font-size: calc(3vw + 24px);
    line-height: 117%;
}

.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(2.2vw + 22px) 120px;
    margin-top: calc(8vw + 9px);
    /* 20 90 */
}

h5 {
    font-weight: 600;
    font-size: calc(1vw + 14px); 
    line-height: 140%;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: calc(1vw + 6px);
    /* 10px */
}

.benefit p.value {
    margin: 0;
    font-size: calc(1vw + 14px); 
    line-height: 140%;
}

@media (max-width:700px) {
    .benefits {
        grid-template-columns: 1fr;
    }
}

/* Timer */

.purple {
    background: #6E3ABA;
    text-align: center;
}

.contentBlock.purple {
    padding-top: calc(4.4vw + 23px);
    padding-bottom: calc(4.4vw + 23px);
}

h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: calc(2vw + 26px);
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}

.timer {
    display: flex;
    justify-content: space-around ;
    margin-top: calc(4vw + 4px);
    margin-bottom: calc(4vw + 4px);
}

.timerBlock {
    color: #2F1D4E;
}

.timerBlock .value {
    font-family: 'Chava';
    font-size: calc(12.6vw + 19px);
    line-height: 107.5%;
}

.timerBlock .desc {
    font-weight: 500;
    font-size: calc(1.9vw + 3px);
    line-height: 118%;
    text-transform: uppercase;
}

.purple .secondary {
    margin: 0 auto;
}

/* Legend */

.legend {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 50px;
}

.legendPhoto {
    flex-basis: calc(1vw + 294px);
    flex-shrink: 0;
    flex-grow: 1;
}

.legendPhoto img {
    width: 100%;
}

.legendInfo {
    flex-basis: 300px;
    flex-grow: 1000;
}

h4 {
    font-weight: 700;
    font-size: calc(1vw + 34px);
    line-height: 120%;
    margin: 0;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(1vw + 26px) calc(9vw - 23px);

    grid-template-areas: 
    "a b"
    "c d";
}

.skill img {
    width: 36px;
    height: 36px;
}

.skill span {
    display: block;
    font-size: calc(0.5vw + 13px);
    line-height: 140%;
}

@media (max-width: 900px) {
    .skill:nth-child(2) {
        grid-area: c;
    }
    .skill:nth-child(3) {
        grid-area: d;
    }
    .skill:nth-child(4) {
        grid-area: b;
    }
    
}


.border {
    border: 2px solid #000;
    padding: calc(4.5vw + 23px) calc(5vw + 2px) 0;
    position: relative;
}

.border h2 {
    margin: 0;
}

.lessons {
    margin-top: calc(1.8vw - 7px);
}

.lesson {
    font-size: calc(0.5vw + 13px);
    line-height: 140%;
    padding: 24px 0;
    border-bottom: 1px solid #A1A1A1;
}

.center {
    margin: 0 auto;
}

.primary.center {
    margin-top: 35px;
    margin-bottom: 35px;
}

.mobile {
    display: none;
}

@media (max-width: 700px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

#corner {
    position: absolute;
    top: -2px;
    right: -2px;
}

.black {
    background: #222222;
    color: #fff;
}

.contentBlock.black {
    display: flex;
    flex-wrap: wrap;
    gap: 90px 145px;
    padding-bottom: 80px;
    padding-top: 80px;
    align-items: center;
}

.featuresBlock {
    flex-basis: 430px;
    flex-shrink: 1;
    flex-grow: 1;
}

.featuresBlock h2 {
    margin: 0;
    margin-bottom: calc(4.4vw + 23px);
}

.features {
    display: grid;
    grid-template-columns: 28px 1fr;
    gap: 24px 20px;

    font-size: calc(1vw + 14px);
    line-height: 140%;
}

.features img {
    width: 28px;
}

.formBlock {
    flex-basis: 350px;
    flex-shrink: 0;
    flex-grow: 1;
    margin-top: 20px;
    position: relative;
}


.formWrapper {
    background: #FFFFFF;
    color: #222222;
    border-radius: 12px;

    text-align: center;
    padding: 60px calc(4.4vw + 14px) 55px;


}

.formWrapper h5 {
    margin: 0;
}

.formWrapper span {
    display: block;
    margin: 10px auto 3px;
}

form .primary{
    margin: 30px auto 40px;
}

input {
    display: block;
    width: calc(7.8vw + 238px);
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 23px;
    border: 0;
    border-bottom: 1px solid rgba(162, 162, 162, 0.42);
}

input:focus-visible {
    outline: 0;
}

.grayText * {
    display: block;
    margin: 0;
}

.grayText {
    opacity: 0.5;
    text-transform: lowercase;
}

.grayText b {
    margin-bottom: 10px;
}

.sale {
   width: 160px;
   height: 160px;
   border-radius: 50%; 
   display: flex;
   justify-content: center;
   align-items: center;

   position: absolute;
   top: -61px;
   left: -67px;
}


@media (max-width: 700px) {
    .sale {
        width: 105px;
        height: 105px; 

        top: -53px;
        right: -14px;
        left: auto;

        transition: 1s;
    }
    
}